
<div fxLayout="column" >

	<div class="service-header" fxLayout="column" fxLayoutAlign="center stretch" >

		<div fxFlex class="content" fxLayout.lt-sm="column" style="padding: 20px;" fxLayout="row" fxLayoutAlign="center stretch">

			<div fxFlex="35"  fxFlex.lt-sm="100" fxLayout="row" style="background-color: #45aae3; padding: 20px;"  fxLayoutAlign="center stretch" >
				<div>
					<h3 class="mat-display-1">Restaurante Astrid</h3>
					<mat-divider></mat-divider>
					<p class="mat-body-2">
          Bienvenido al restaurante Astrid. Por favor, Digite su codigo para empezar......
          {{mensaje}}
					</p>
                    <form class="example-form" #menuForm="ngForm" (ngSubmit)="onSubmit(menuForm)">

                     <mat-form-field class="example-full-width">
                      <input matInput name="nombre" #name="ngModel" [(ngModel)]="codigoMozo" placeholder="Ingrese su codigo"
                       required>

                     </mat-form-field>


                     <p>

                        <button mat-raised-button color="primary" type="submit" [disabled]="!cajaCerrada">Guardar</button>

                      </p>
                   </form>
				</div>

			</div>
			<div fxFlex="65" fxHide.lt-sm fxLayout="row" fxLayoutAlign="center center">
				<img style="width: 400px;" src="./assets/images/bg/cdk.png">
			</div>

		</div>
	</div>
</div>
