<form class="example-form" #menuForm="ngForm" (ngSubmit)="onSubmit(menuForm)">
  <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="menuService.selectedMenu.$key">
  <input type="hidden"name="codigoMenu" #name="ngModel" [(ngModel)]="menuService.selectedMenu.codigoMenu" placeholder="codigo Plato">



  <mat-form-field class="example-full-width">
    <input matInput name="nombre" #name="ngModel" [(ngModel)]="menuService.selectedMenu.nombre" placeholder="Nombre"
      required>

  </mat-form-field>



  <p>
    <mat-form-field class="example-full-width">
      <input matInput name="descripcion" #name="ngModel" [(ngModel)]="menuService.selectedMenu.descripcion" placeholder="Descripcion">

    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="example-full-width">
      <input matInput name="precio" #name="ngModel" [(ngModel)]="menuService.selectedMenu.precio" placeholder="Precio">

    </mat-form-field>
  </p>


  <div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">

    <mat-divider></mat-divider>
    <mat-form-field>
      <mat-select placeholder="Escoga la Categoria" [(ngModel)]="menuService.selectedMenu.codigoCategoria" name="codigoCategoria">
        <mat-option *ngFor="let food of categoriaList" [value]="food.valor">
          {{ food.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <p>

  </p>
  <p>

    <button mat-raised-button color="primary" type="submit" [disabled]="!menuForm.valid">Guardar</button>

  </p>
</form>
